@model arielramos_progreso1.Models.ArielRamos_Tabla

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArielRamos_Tabla</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArPesoKilogramos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArPesoKilogramos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArAlturaM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArAlturaM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArFechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArFechaIngreso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
